@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PaymentLink</title>
<style>
    .table {
        border: 1px solid;
        width: 100%;
        border: 2px solid #9b9898;
        border-radius: 10px;
        color: #353935;
        border-spacing: 0;
        border-collapse: separate;
    }
    td, tr {
        border: 1px solid #9b9898;
        padding: 10px;
    }

    th {
        background-color: #CCC;
        border: 1px solid #9b9898;
        padding:10px;
        color: #353935;
    }
    th:nth-child(1){
        border-top-left-radius:10px;
    }
        th:nth-child(5) {
            border-top-right-radius: 10px;
        }

    .main_content{
        width:90%;
        margin:auto;
    }
    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }
    </style>
</head>
<body>
    <div ng-app="PaymentLinkApp" ng-controller="PaymentLinkController">
       <div class="main_content mt-5">
           <div class="row">
               <div class="col-md-12 text-right">
                   <button class="btn btn-primary btn-sm text-right" data-toggle="modal" data-target="#CreatePaymentLink">Create Payment Link</button>
               </div>
           </div>

           <table class="table mt-3">
               <thead>
                   <tr>
                       <th>TXN ID</th>
                       <th>Name</th>
                       <th>Email</th>
                       <th>Amount</th>
                       <th>Status</th>
                   </tr>
                   </thead>
               <tbody>
                   <tr ng-repeat="c in CreatedPaymentLink">
                       <td>{{c.TXN_ID}}</td>
                       <td>{{c.customer_name}}</td>
                       <td>{{c.customer_email}}</td>
                       <td>{{c.customer_mobile}}</td>
                       <td>{{c.PaymentStatus}}</td>
                   </tr>
                   
               </tbody>
           </table>
       </div>        
        <div class="modal fade" id="CreatePaymentLink">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create New Payment Link</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="form-group row">
                                <div class="col-md-4">Customer Name:</div>
                                <div class="col-md-8"><input class="form-control" type="text" ng-model="PaymentLinkObj.customer_name"></div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">Customer Mobile:</div>
                                <div class="col-md-8"><input class="form-control" type="text" maxlength="10" ng-model="PaymentLinkObj.customer_mobile"></div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">Customer Email:</div>
                                <div class="col-md-8"><input class="form-control" type="text" ng-model="PaymentLinkObj.customer_email"></div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">Amount:</div>
                                <div class="col-md-8"><input class="form-control" type="text" ng-model="PaymentLinkObj.indent_amount"></div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">Remarks:</div>
                                <div class="col-md-8"><input class="form-control" type="text" ng-model="PaymentLinkObj.remarks"></div>
                            </div>
                            <div class="col-md-12 bg-light text-center">
                                <button type="button" class="btn btn-primary" ng-click="AddonlinePaymentHistory()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="~/Scripts/Payment/PaymentLink.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>